.header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
}

.app-logo {
    padding:  10px 35px;
    margin: 25px 10px;
    font-size: 50px;
    color: rgba(16, 144, 16, 0.956);
}

.nav-items {
    margin: 15px 30px;
}

.nav-items > ul {
    display: flex;
    
    list-style-type: none;

}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

.search-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 25px 25px;
    font-size:30px;
}

.res-card {
    width: 300px;
    margin: 15px;
    padding: 10px;
    background-color: azure;
}
button:hover {
  cursor: pointer;
}
.res-card:hover {
    cursor: pointer;
    border:1px solid #df78ef;
}

.res-image {
    width: 100%;
    height: 250px;
}

.cards-container {
    padding: 10px 110px;
    margin: 5px 110px;
    display: flex;
    flex-wrap: wrap;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .rating-filter {
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;

  }

  .rating-filter:hover {
    background-color: blanchedalmond;
  }

  .search-box {
    padding: 10px;
    margin: 0px 10px;
    width: 400px;
  }

  .search-btn {
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    
  }
  .search-btn:hover {
    background-color: blanchedalmond;
  }
  

   /* .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  } */

  .shimmer-container {
    padding: 10px 110px;
    margin: 5px 110px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .shimmer-card {
    width: 300px;
    height: 400px;
    margin: 15px;
    padding: 10px;
    background-color: azure;
  }

  .login-btn {
    padding: 0px 5px;
    cursor: pointer; 
    width: 80px;
    color: white;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
      }

  .login-btn.login {
      color: rgb(6, 162, 6);
    }
    
  .login-btn.logout {
      color: rgb(231, 37, 37);
    }